@charset "utf-8";

/*------------------------------------------------------------------

[Responsive Stylesheet]



Project:    BigStream

Version:    1.0

Last change:    Initial RELEASED

Primary use:    MultiPurpose One Page Template  

-------------------------------------------------------------------*/





/*------------------------------------------------------------------

[Table of contents]



1. Small desktop

2. Tablet landskape

3. Tablet Portrait

4. Phone

5. Small Phone

6. Max Height 768

-------------------------------------------------------------------*/





/* ==============================

   Small desktop

   ============================== */



@media only screen and (max-width: 1366px) {

	

    	

    .inner-nav ul li {

        margin-left: 25px;

    }

	

}  



@media only screen and (max-width: 1200px) {

	

    .hs-wrap {

        max-width: 540px;

    }

	.hs-line-2{

		font-size: 68px;

	}

    .hs-line-13 {

        font-size: 78px;

        letter-spacing: 0.195em;

    }

	.contact-text{

		padding: 0 30px;

	}

    

    .alt-service-grid {

        margin-top: -40px;

    } 

    .alt-service-item {

        margin-top: 40px;

        padding-left: 48px;

    }

    .alt-services-title{

        font-size: 14px;

        margin-bottom: 5px;

    }

    .alt-services-image{

        margin-top: 10px;

    }

    

}





/* ==============================

   Tablet landskape

   ============================== */



@media only screen and (max-width: 1024px) {

	

	.hs-wrap {

        max-width: 480px;

		padding-top: 37px;

		padding-bottom: 43px;

    }

	.hs-line-2{

		font-size: 60px;

	}

	

    .hs-line-8 {

        font-size: 20px;

    } 

    .hs-line-9 {

        font-size: 50px;

    } 

    .hs-line-10 {

        padding: 10px 14px;

        letter-spacing: 1px;

    }

    .hs-line-10 > span {

        margin: 0 1px;

    }

    .hs-line-11 {

        font-size: 24px;

        letter-spacing: 4px;

    }

    .hs-line-12{

        font-size: 70px;

        letter-spacing: 0.3em;

    }

    

    .benefit-item {

        width: 300px;

        padding: 15px 32px;

    }

    .split-section-headings {

        width: 30%;

    }	

    .split-section-content {

        width: 70%;

    }

    

	.split-section-headings .section-title{

		font-size: 26px;

		letter-spacing: 2px;

	}

	.service-descr .service-title {

        margin-bottom: 20px;

    }

	

    .page-section{

        padding: 50px 0;

        

    }

    .page-section, .home-section{

        background-attachment: scroll;

    }

	

    .owl-pagination {

        bottom: 25px;

    }

    .section-bot-image {

        margin: 120px 0 -120px;

    }

	

    #portfolio + .small-section {

        margin-top: -90px;

    }

    

    #news + .small-section {

        margin-top: -120px;

    }

	

    .work-title, .work-descr {

        font-size: 13px;

    }

    

    .lp-item {

        width: 50%;

    }

    .lp-item:nth-child(4n + 5){ 

        clear: none; 

    }

    .lp-item:nth-child(2n + 3) {        

        clear:left;

    }

    .lp-title, .lp-author{

        font-size: 13px;

    }



}

  

@media only screen and (max-width: 992px) {

    

    .hs-line-13 {

        letter-spacing: 0.17em;

    }

  	

	.split-section-headings,

	.split-section-headings.left,

	.split-section-headings.right,

	.split-section-content,

	.split-section-content.left,

	.split-section-content.right{

		float: none !important;

		width: auto;

	}

	

	.split-section-headings .section-title{

		font-size: 35px;

		letter-spacing: 5px;

	}

	

    .banner-text {

        text-align: center;

    } 

	.banner-button {

		margin-top: 40px;

        text-align: center;

    }

	

	.team-item {

        width: 230px;

    }

	.team-item-descr{

		margin-left: 13px;

		margin-right: 13px;

		padding: 10px 7px;

	}

	.team-item-name{

		font-size: 13px;

	}

	

    .features-icon {

        font-size: 64px;

    } 

	.features-title {

        font-size: 20px;

        font-weight: 700;

    }

	.features-descr{

		font-size: 14px;

	}

	

	.work-item,

	.work-grid-3 .work-item,

    .container .work-grid-3 .work-item{

        width: 50%;

    }

    .form input.newsletter-field{

        text-align: center;

        margin-top: 40px;

    }

    .form input.newsletter-field::-webkit-input-placeholder{

        color: #000;        

        text-align:center;

     }

     

         

    .contact-item{

	    text-align: center;

        padding-right: 0 !important;

	}

    .ci-icon{

        margin: 0 auto 7px;

        position: relative;

        top: 0;

        left: 0;

        right: 0;

        bottom: 0;

        border-bottom: 1px solid rgba(255,255,255, .1);

        border-left: none;

    }

    

    .blog-item-date {

        border:none;

    }

	

	

}

  

  

/* ==============================

   Tablet Portrait

   ============================== */

  

@media only screen and (max-width: 768px) {



	.hs-wrap {

        max-width: 400px;

    }

	.hs-line-2{

		font-size: 50px;

	}

    

    .hs-line-7 {

        font-size: 50px;

    }

	

	.page-section {

        padding: 70px 0;

    }	

    .small-section {

        padding: 50px 0;

    }

    .small-title{

        font-size: 18px;

    }

	

	.owl-pagination {

        bottom: 17px;

    }

	.item-carousel .owl-pagination {

        bottom: -53px;

    }

	

	.section-bot-image {

        margin: 70px 0 -70px;

    }

    

    .service-item{

	    width: 50%;

    }

    

	#portfolio + .small-section {

        margin-top: -40px;

    }

    

    #news + .small-section {

        margin-top: -70px;

    }

	

    .tpl-minimal-tabs > li {

        padding: 0 5px;

    }

	

		

	.benefit-item{

		width: 264px;

	}

	

	.count-descr{

		margin-bottom: 30px;

	}	

    

	.alt-service-grid{

	margin-top: -30px;

    }

    .alt-service-item {

        margin-top: 30px;

    }

    .alt-service-butt{

        display: none;

    }



	.works-filter a{

		padding-left: 10px;

		padding-right: 10px;

		margin: 4px;

	}

	

    .blog-item {

        margin-bottom: 50px;

    }

	.blog-item-date{

		top: 0;

		left: -100px;

	}

	.blog-item-title{

		font-size: 20px;

	}

    .blog-item-title .small{

        font-size: 15px;

    }

	.blog-item-body{

		font-size: 14px;

	}

    .blog-media{

        margin-bottom: 15px;

    }

    .blog-item-body .small{

		font-size: 13px;

	}



    

    #map-canvas {

        height: 300px;

    }

    

    



}



@media only screen and (max-width: 767px) {

	

	.hs-wrap {

        max-width: 320px;

		padding-top: 27px;

		padding-bottom: 33px;

    }

    .hs-line-1 {

        font-size: 18px;

    }

	.hs-line-2{

		font-size: 36px;

	}	

	.hs-line-3 {

        font-size: 13px;

    }

	.hs-image{

		display: none;

	}

    

    .hs-wrap-1 {

        max-width: 240px;

    }	

    .hs-line-5 {

        font-size: 19px;
		line-height:0.85;

        /*letter-spacing: 0.28em; ---> modificado em 13/06/2016*/

    }

    .hs-line-6 {

        font-size: 32px;

    }

    .hs-line-7 {

        font-size: 38px;

    }

	

    .hs-line-8 {

        font-size: 16px;

    } 

    .hs-line-9 {

        font-size: 50px; /* alterado dia 26/04/2016 às 16h15 - original 30px*/

    } 

    .hs-line-10 {

        padding: 5px 8px;

        font-size: 11px;

        letter-spacing: 1px;

    }

    .hs-line-10 > span {

        margin: 0;

    }

    

    .hs-line-11 {

        font-size: 18px;

        letter-spacing: 2px;

    }

    

    .hs-line-12 {

        font-size: 44px;

    }

    .hs-line-13 {

        font-size: 60px;

        letter-spacing: 0.1em;

    }

    

    .nbc-logo-wrap{

        min-width: 125px;

    }

	.nbc-logo-wrap,

	.nbc-menu-button{

		height: 50px;

	}

	.nbc-menu-button{

		width: 64px;

	}

    .service-item {

        width: 100%;

        float: none;

    }

    

	.benefit-item{

		width: 230px;

		padding: 0;

	}

	

	.benefit-item:hover:after{

		display: none;

	}

	

	.wide-heading {

        font-size: 32px;

		letter-spacing: 2px;

    }

	

	.works-filter a{

		padding-left: 10px;

		padding-right: 10px;

		margin: 4px;

		width: 46%;

		font-size: 11px;

	}	

	

	.blog-item-date{

		width: auto;

		position: relative;

		top: auto;

		left: auto;

		padding: 0;

		text-align: left;

	}

	.date-num{

		display: inline !important;

		margin: 0 5px 10px 0;

	}

    .sidebar {

        margin-top: 50px;

    } 

    

    blockquote p {

        font-size: 16px;

    }

    

    blockquote footer {

        margin-top: 0;

        font-size: 12px;

    }   

	

}





/* ==============================

   Phone

   ============================== */

  

@media only screen and (max-width: 480px) {
	
	.aba-lateral{
	display:none !important;
}
		
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
	}
	.bs-callout {
		padding: 20px 0; width:auto;
	}
	.bs-callout-m{
		margin:3px;
	}
	.list-group-fc{
		margin-bottom:5px;
		font-size:14px;
	}

     .btn-mod.btn-large.btn-moedas{
		margin-right:40px;
		font-size:12px;
		padding:15px;
	}
	
	/* .btn-mod.btn-large.btn-moedas{
		 background-color:rgba(140,23,27, .8) !important;
		 color:#fff !important;
	 }*/

    .btn-mod.btn-large {

        padding: 12px 30px 11px;
        font-size: 13px;
		margin: 0 18px 15px 30px; /*propriedade inserida em 03/06*/

    }
	.hs-line-4{

		font-size: 26px;
		line-height:0.8em;
		letter-spacing:normal;
		top:10px;
    	font-weight: 800;

	}


	.hs-line-2{

		font-size: 28px;

	}

    .hs-line-6 {

        font-size: 20px;

    }

    .hs-line-7 {

        font-size: 35px;

    }

    .hs-line-9 {

        font-size: 28px; /*alterado 15/08/2016 às 10:15 - original 42*/

    } 

    

    .hs-line-12 {

        font-size: 32px;

    }

    .hs-line-13 {

        font-size: 30px;

        letter-spacing: 0.1em;

    }

   

   .scroll-down {

        bottom: 40px; /* alterado dia 26/04/2016 às 16h21 - original 10px*/
		height: 34px;
		line-height: 20px; /* alterado dia 30/05/2016 às 16h04 - original 34px*/
		font-size: 12px; /*inserido dia 30/05/2016*/

    }

    .scroll-down-icon {

        width: 22px;

        margin-left: -11px;

    }	

	.scroll-down span{

		display: none;

	}

	

	.nav-bar-compact{

		top: 0;

		left: 0;

	}

	.nbc-menu-icon{

		width: 20px;

		margin-left: -10px;

		margin-top: -1px;

		height: 2px;

	}

	.nbc-menu-icon:before{

		height: 2px;

		top: -5px;

	}

	.nbc-menu-icon:after{

		height: 2px;

		top: 5px;

	}

	.nbc-menu-links a{

		padding-top: 5px;

		padding-bottom: 5px;

	}

	

	.page-section {

        padding: 50px 0;

    }

    .small-section {

        padding: 30px 0;

    }

	

	.owl-pagination {

        bottom: 10px;

    }	

    .owl-page {

        padding-left: 1px;

		padding-right: 1px;

    } 

	.owl-page span {

        width: 18px;

    }

	

	.item-carousel .owl-pagination {

        bottom: -40px;

    }

    .owl-prev, .owl-next {

    	display: none;

    }

	

	.section-bot-image {

        margin: 50px 0 -50px;

    }

	

	#portfolio + .small-section {

        margin-top: -20px;

    }

    

    #news + .small-section {

        margin-top: -50px;

    }

	

    .section-title,

	.split-section-headings .section-title,

	.wide-heading {

        font-size: 24px;

		letter-spacing: 2px;

    }	

    .section-heading,

	.sub-heading{

        font-size: 15px;

    } 

	.section-text {

        font-size: 15px;

        line-height: 1.7;

    }

	

	.tpl-minimal-tabs > li {

        padding: 0;

    }

    .tpl-minimal-tabs > li > a {

        padding: 6px 10px 5px;

    }

	

    .work-container {

        padding: 30px 0;

    }

	.margin-bot{

        margin-bottom: 30px;

    }

	

	.section-text, 

	.text{

		line-height: 1.7;

	}

		

	.count-number{

		font-size: 32px;

	}

	.count-title{

		font-size: 12px;

	}

	

	.team-item {

        width: 250px;

    }

	

    .works-filter a{

		width: 100%;

        margin-left: 0;

        margin-right: 0;

	}	

	

	.work-item,

	.work-grid-3 .work-item,

    .container .work-grid-3 .work-item {

        width: 100%;

    }	

	.work-title{

		font-weight: 400;

	} 

    

	.work-full-text{

		margin-top: 30px;

	}

	.work-full-title{

		font-size: 20px;

	}

	

	.blog-container {

        margin-top: 30px;

        margin-bottom: 30px;

    }

    

    .blog-item-title{

        font-size: 16px;

    }



	.blog-item-q p{

		font-size: 16px;

	}

	.comment-avatar{

		width: 30px;

		margin-top: 7px;

	}

    

    .comment-item{

        font-size: 13px;

    }

	

	.separ-space{

		display: block;

		height: 10px;

	}

    

    .lp-item {

        width: 100%;

    }

	

	.form input.newsletter-field{

        font-size: 16px;

        margin-top: 5px;

    }

    

    .cf-left-col,

    .cf-right-col{

        width: auto;

        margin-right: 0;

        float: none;

    }

    

    .bot-menu-item{

        font-size: 16px;

    }

    

    #map-canvas {

        height: 200px;

    }

    

   .fixed-height-small{

        min-height: 300px;

    }

    .fixed-height-medium{

        min-height: 350px;

    }

    .fixed-height-large{

        min-height: 400px;

    }

}





/* ==============================

   Small Phone

   ============================== */

  

@media only screen and (max-width: 319px) {

	

  	.nav-social-links{

  		display: none;

  	}

}





/* ==============================

   Max Height 768

   ============================== */



@media only screen and (max-height: 768px) {



    .service-descr .service-icon, .service-descr .service-title {

        display: none;

    }

    

    .nbc-menu-links a{

		padding-top: 5px;

		padding-bottom: 5px;

	}

	

}